body {
    position: relative;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 14px;
    background: #370f29;
    color: #21f838;
    padding: 0px;
    overflow: hidden;
    height: 20px;
    cursor: text;
}

.container {
    margin: 50px auto;
    border: 1px solid #21f838;
    height: 600px;
    width: 960px;
    position: relative;

}

td {
    width: 11px;
    font-size:14px;
}

table.Q td {
    padding: 0;
}

button {
    position: relative;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 14px;
    background: #370f29;
    color: #21f838;
    width: 400px;
    margin: 1px;
    border: 1px solid #21f838;
    padding: 0px;
    height: 20px;
    cursor: text;

    float: left;
}
button:hover {
    Background:#21f838;
        color: #370f29;
}
div#typstring {
    width: 500px;
    height: 562px;
    float: left;
    margin: 1px;
    border: 1px solid #21f838;
    padding: 1em;
}

form {
    margin: 1px;
    border: 1px solid #21f838;
    padding:0px;
    width: 400px;
    float: left;
}

form div+div {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 400px;
}

#name {
    display: none;
}


/*フォント、サイズボーダーの外見を調和させる。*/

input,
textarea {
    font-family: "Courier New", monospace;
    font-size: 14px;
    color: #21f838;
    background-color: #370f29;
    font: 1em sans-srif;
    width: 400px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #21f838;
}
* {
    outline:none;
}
*:focus {
    outline:3px solid #21f838;

}


textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

div#stopwatch {
    text-align: right;
    width: 400px;
    float: left;
        margin: 1px;
    border: 1px solid #21f838;

}

div#result {
    margin: 0 auto;
    width: 434px;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
    word-break: break-all
}

br {
    font-size: 20px;
}